@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background: #D6E2F0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 315px;
    height: 484px;
    border-radius: 15px;
    background: #FFF;
    /* margin: 154px 22px 140px 23px; */
    padding: 18px 17px 45px 18px;
    align-items: center;
    box-sizing: border-box;

}

img {
    width: 100%;
    /* width: 280px; */
    height: 280px;
    border-radius: 15px;
}

.title {
    color: #1F3251;
    width: 254px;
    text-align: center;
    margin: 9px auto 19px;
    /* margin: 9px 30px 19px 31px; */
    font-size: 22px;
    font-family: 'Outfit', sans-serif;
    line-height: normal;
}

.text {
    width: 243px;
    color: #7B879D;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: auto;
    line-height: normal;
}

.outsideText {
    color: #1F3251;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    margin-top: 8px;
    font-weight: 600;
}

@media screen and (min-width:1440px) {
    .outsideText {
        margin-top: 28px;
    }
}